[submodule "public/inspector-widget-vue/src/modules/inspector-widget-aws-cost"]
	path = public/inspector-widget-vue/src/modules/inspector-widget-aws-cost
	url = git@github.com:Jblew/inspector-widget-aws-cost.git
[submodule "public/inspector-widget-vue/src/modules/inspector-widget-osowiec"]
	path = public/inspector-widget-vue/src/modules/inspector-widget-osowiec
	url = git@github.com:Jblew/inspector-widget-osowiec.git
