function userIsViewer() {
  return isAuthenticated() && callerHasRole("§role_viewer§");
}

match /§collection_collected_data§/{document=**} {
  allow read: if userIsViewer();
  allow write: if false;
}

match /osowieclog/{document=**} {
  allow read: if userIsViewer();
  allow write: if false;
}